 <!-- ==============================================
     ABOUT
    =============================================== -->
    <section id="portfolio">

        <div id="portfolio-header" @*class="text-center"*@ style="background-color:black"><br/>
            <h1 class="section-title scrollimation scale-in"><span> About Me</span> @*I am proud of*@<i class="fa fa-folder-open"></i></h1>

    </div><br/>

    </section>
<section id="about">

            <div class="container">
        
                <div class="row">
                     @*<div id="portfolio-header" class="text-center" style="background-color:black">*@

                    <div class="col-sm-4 col-sm-offset-1 scrollimation fade-right">

                        <img class="img-responsive img-circle img-center" src="~/assets/Cartoon.jpg" alt="">
                    </div>
                    <div class="col-sm-6 col-sm-offset-1 scrollimation fade-left">
                        <h1>@*Hello, I am Olu Osajere.*@</h1>
                        <p>I'm a Software Developer living in <a href="https://goo.gl/maps/rMffJSeDPWR2" target="_blank">Charlotte, North Carolina.</a>. @*I have worked with companies like <a href="#somelink">This Company</a> and <a href="#somelink">That Company</a>*@ I'm currently working as an apprentice developer at <a href="http://www.coderfoundry.com/" target="_blank">Coderfoundry.com</a>, where I'm currently a specialist at breaking and fixing things--more of the former at this point!<br />Creating is not just a job for me, it's a passion. </p>
                        <a href="@Url.Action("Portfolio","Home")" class="btn btn-theme transparent ">View my Works</a>
                    </div> <br/>
                </div><!--End row -->

            </div><!--End container -->

</section><!--End about section -->