
<section id="portfolio">

    <div id="portfolio-header" class="text-center" style="background-color:black">

        <h1 class="section-title scrollimation scale-in"><span> Blog</span> @*I am proud of*@<i class="fa fa-wrench"></i></h1>
       


    </div> <br />
    </section>

    <div class="container">

        @Html.Partial("_LoginPartial")


    </div>
